#body {
  background-color: white;
}

.college {

}

.college:hover {
  cursor: pointer;
  text-decoration: underline;
}

.search {
  border: 0px;
  height: 50px;
  width: 200px;
}

.suggestion {
  cursor: pointer;
}

.suggestion:hover {
  opacity: 50%;
  text-decoration: underline;
}