.welcome {
  font-size: xx-large;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.courseBoxesContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 50px;
  margin-left: 5%;
  width: 90%;
}

.containerTitle {
  font-size: large;
}

.bigBlueSquare {
  align-items: center;
  background-color: #3c97f7;
  box-shadow: 0px 0px 3px 0px #3c97f7;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 300px;
  margin-top: 10px;
  width: 400px;
}

.bigBlueSquare:hover {
  cursor: pointer;
  opacity: 50%;
  text-decoration: underline;
}

.smallerSquare {
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 3px 0px white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  margin: 10px;
  margin-bottom: 50px;
  opacity: 50%;
  width: 200px;
}

.smallerSquareUnlocked {
  opacity: 100%;
}

.smallerSquareUnlocked:hover {
  cursor: pointer;
  opacity: 50%;
  text-decoration: underline;
}

.smallerSquaresContainer {
  align-content: space-evenly;
  display: flex;
  height: 300px;
  width: 600px;
  justify-content: space-evenly;
}

.row {
  display: flex;
}

.frostNewsSquare {
  height: 150px;
  justify-content: space-evenly;
  opacity: 100%;
}

.frostNewsSquare:hover {
  cursor: pointer;
  opacity: 50%;
  text-decoration: underline;
}

.frostNewsSquareText {
  text-align: center;
  width: 80%;
}

.frostNewsContainer {
  margin-left: 5%;
  width: 90%;
}
